<span>
    <span class="label label-default pull-right" ng-if="!state.unicode"> . </span>
    <span class="label label-success pull-right" ng-if="state.unicode"> . </span>
    <span class="label label-default pull-right" ng-if="!state.ascii">!"§$%</span>
    <span class="label label-success pull-right" ng-if="state.ascii">!"§$%</span>
    <span class="label label-default pull-right" ng-if="!state.num">123</span>
    <span class="label label-success pull-right" ng-if="state.num">123</span>
    <span class="label label-default pull-right" ng-if="!state.upL">ABC</span>
    <span class="label label-success pull-right" ng-if="state.upL">ABC</span>
    <span class="label label-default pull-right" ng-if="!state.lcL">abc</span>
    <span class="label label-success pull-right" ng-if="state.lcL">abc</span>
</span>