<div class="input-group generator"  ng-style="{'visibility': (password.length>0&&$root.showSuggestions[index]==true)?'visible':'hidden'}">
    <input type="text" class="form-control" placeholder="Some path" ng-model="$root.suggestions[index]" id="input{{index}}"></input>
    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="copy-button" data-toggle="tooltip"
                                data-placement="button" title="Copy to Clipboard" ngclipboard data-clipboard-target="#input{{index}}">     <span class="glyphicon glyphicon-ok text-success"></span>
                            Copy
                        </button>
                    </span>
</div>